<section>
    <h1 class="new-product-title">Agregar nuevo producto</h1>
    <form id="productForm" class="product-form">
        <div class="form-group"> 
            <label for="title">Título</label>
            <input type="text" class="form-control" name="title" id="title" required>
        </div>
        <div class="form-group">
            <label for="description">Descripción</label>
            <input type="text" class="form-control" name="description" id="description" required>
        </div>
        <div class="form-group">
            <label for="category">Categoría</label>
            <input type="text" class="form-control" name="category" id="category" required>
        </div>
        <div class="form-group">
            <label for="price">Precio</label>
            <input type="number" class="form-control" name="price" id="price" required>
        </div>
        <div class="form-group">
            <label for="thumbnail">URL de la Imagen</label>
            <input type="text" class="form-control" name="thumbnail" id="thumbnail" required>
        </div>
        <div class="form-group">
            <label for="code">Código de Producto</label>
            <input type="text" class="form-control" name="code" id="code" required>
        </div>
        <div class="form-group">
            <label for="stock">Stock</label>
            <input type="number" class="form-control" name="stock" id="stock" required>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</section>

<script src="/js/newproduct.js"></script>


