<div class="live-chat">
    <h1>Chat en vivo</h1>
    <main>
        <div class="chat-input">
            <input type="text" id="chatBox">
        </div>
        <div class="message-logs">
            <p id="messageLogs"></p>
        </div>
    </main>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/live-chat.js"></script>
