<h1>CHAT EN VIVO</h1>

<main>
    <div>
      <input type="text" id="chatBox">
    </div>
    <div>
      <p id="messageLogs"></p>
    </div>
</main>

{{!--cdn de sweet alert--}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{!-- Para tener disponible el socket.io --}}
<script src="/socket.io/socket.io.js"></script>
 {{!-- Armo el socket.io para el cliente --}}
<script src="/js/chat.js"></script>