<section class="containerLogin">
    <form class="form" onsubmit="submitForm(); return false;">
        <span class="signup">Resetear Password</span>
        <input type="text" class="form-control form--input" placeholder="Email" name="usuario" id="usuario" required>
        <input type="password" class="form-control form--input" placeholder="Contraseña" name="password" id="password" required>
        <div class="displayRegistrate">
            <p>¿No tienes una cuenta? <span class="spanRegistrate" id="Registrate">Registrate</span></p>
        </div>
        <button type="submit" class="form--submit">Resetear</button>
    </form>
</section>

<script src="/js/forgotPassword.js"></script>