<div class="login-form-container">
    <form class="login-form" onsubmit="submitForm(); return false;">
        <h2 class="form-title">Iniciar Sesión</h2>
        <input type="text" class="input-field" placeholder="Correo electrónico" name="email" id="email" required>
        <input type="password" class="input-field" placeholder="Contraseña" name="password" id="password" required>
        <div class="additional-options">
            <p>¿No tienes cuenta? <span class="signup-link" id="signupLink">Registrarse</span></p>
            <a href="forgotPassword" class="forgot-password">¿Olvidaste tu contraseña?</a>
            <a href="/api/auth/github" class="github-login">Ingresar con GitHub</a>
        </div>
        <button type="submit" class="submit-button">Iniciar Sesión</button>
    </form>
</div>

<script src="/js/login.js"></script>


