<div class="user-registration">
    <form class="signup-form" onsubmit="submitForm(); return false;">
        <h2 class="form-header">¡Únete a nosotros!</h2>
        <p class="form-description">Regístrate para obtener acceso exclusivo</p>
        <div class="input-group">
            <label>
                <input class="input-field" id="firstName" type="text" placeholder="Tu nombre" required="">
                <span class="input-label">Tu nombre</span>
            </label>
            <label>
                <input class="input-field" id="lastName" type="text" placeholder="Tu apellido" required="">
                <span class="input-label">Tu apellido</span>
            </label>
        </div>
        <label>
            <input class="input-field" id="age" type="number" placeholder="Edad" required="">
            <span class="input-label">Edad</span>
        </label>
        <label>
            <input class="input-field" id="email" type="email" placeholder="Tu correo electrónico" required="">
            <span class="input-label">Tu correo electrónico</span>
        </label>
        <label>
            <input class="input-field" id="password" type="password" placeholder="Tu contraseña" required="">
            <span class="input-label">Tu contraseña</span>
        </label>
        <button type="submit" class="signup-button">Regístrate</button>
        <p class="signin-message">¿Ya tienes una cuenta? <a href="/login" class="signin-link">Inicia sesión</a></p>
    </form>
</div>

<script src="/js/signup.js"></script>
